<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Confluence Test Automation Test Suite">

	<listeners>
		<listener class-name="com.confluence.qa.ExtentReportListener.ExtentReportGenerator" />
	</listeners>


	<test name="Confluence Test Cases">
		<classes>
			<class name="com.confluence.qa.test.NewPageTest"></class>
			<class name="com.confluence.qa.test.ExistingPageTest"></class>
		</classes>
	</test>
</suite>